<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>drawer </title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="../open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/index.css">
</head>

<body>
  <!--Navigation-->
  <div class="header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="nav-brand">
          <h1>Visualiser</h1>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto ">
            <li class="nav-item ">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="type1.html">Visualiser</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="content" id="type1">
    <!--introduction-->
    <div class="container" >
        <div class="text-left col-md-12">
          <h3>At the beginning</h3>
          <p>The whole page is split into two parts. The input area and the ouput area.</p>
          <ul>
            <li><b>input</b></li>
            <p>
              There are three types of input for users to experience. You can try the <b
                style="color: #CD5C5C">examples</b>
              first, which can help you to understand how it works more directly and easily. Then, if you have some
              specific
              idea want to try, you can use <b style="color: #CD5C5C">specific</b> tab. This part has some special
              requirements:
              <ul>
                <li>You need to input the <b style="color: #CD5C5C">darts number</b> first, and it must the multiple of
                  2,like 4.</li>
                <li>The vertices and edges are also required, and indexes of they need a series of natural numbers
                  without
                  duplicate, which start
                  at 0. The input <b>format</b> is strict as {(_,_),(_,_),..}. For the <b
                    style="color: #CD5C5C">vertices</b> you can give more than one numbers in one parenthesis,
                  like{(0),(1,2,3)}. However, you must add a pair of numbers for the <b
                    style="color: #CD5C5C">edges</b>.
                </li>
              </ul>
              If you want to explore more you can use the <b style="color: #CD5C5C">random</b> section. The only
              required
              input is darts number, which also should be the multiple of 2.
            </p>
            <li><b>output</b></li>
            <p>
              After clicking the create button, the tool begins to work. The <b style="color: #CD5C5C">permutations</b>
              of
              each component will be
              generated first. The cycle notation and one-line notation will output as array, and drawing them as cycles
              and
              two-line notation. Some useful information will be indicated after that, take the <a type="link"
                href="https://en.wikipedia.org/wiki/Genus_(mathematics)"><b style="color: #CD5C5C"></b>genus</b></a>
              number as is example. The genus meanings
              the "holes" of an (orientable) surface, for instance, the sphere has 0 genus and donut has 1 genus.
              Finally,
              you will see the images based on the three visulaising ideas and you can view more by click "more details"
              button.
              By the way, you can try to interactive with them, for example zoom the space or click the nodes to zoome
              one
              certain area.(If you do not have the related background of
              combinatorial maps, you can go to the home page to learn about it.)

              Now, you can start your journey and enjoy yourself!
            </p>
          </ul>
        </div>
        <div class="text-left col-md-12">
        <p class="lead" style="padding-top:1rem;">
          <a class="btn btn-outline-primary btn-sm" href="#drawing" role="button">Get Start>></a>
          <a class="btn btn-outline-dark btn-sm" href="index.html" role="button">Learn more</a>
        </p>
      </div>
    </div>

    <!--body-->
    <div class="container-fluid padding" id="drawing">
      <!--input-->
      <div class="container padding">
        <hr />
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" id="examples_tab" href="#examples" role="tab" data-toggle="tab"
              aria-controls="examples" aria-selected="true">Examples</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="specific_tab" href="#specific" role="tab" data-toggle="tab" aria-controls="specific"
              aria-selected="false">Specific</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="random_tab" href="#random" role="tab" data-toggle="tab" aria-controls="random"
              aria-selected="false">Random</a>
          </li>
        </ul>
        <div id="experienceMethod" class="tab-content">
          <!-- example tab -->
          <div class="tab-pane active" role="tabpanel" id="examples" aria-labelledby="examples_tab">
            <div class="container padding">
              <div class="form-group row"></div>
              <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-5">
                  <h6 style="color: #283747">Unrooted:</h6>
                  <div class="form-check" v-for="(graph,index) in unrooted">
                    <input class="form-check-input" type="radio" name="graphgroup" :id="graph.name" :value="graph.name"
                      :checked="graph.checked" @change="checkOption(index,'unrooted')">
                    <label class="form-check-label" for="graph.name">
                      {{graph.name}}
                    </label>
                  </div>
                </div>
                <div class="col-md-5">
                  <h6 style="color: #283747">Rooted:</h6>
                  <div class="form-check" v-for="(graph,index) in rooted">
                    <input class="form-check-input" type="radio" name="graphgroup" :id="graph.name" :value="graph.name"
                      :checked="graph.checked" @change="checkOption(index,'rooted')">
                    <label class="form-check-label" for="graph.name">
                      {{graph.name}}
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-2 col-md-4 col-2  "></div>
                <div class="col-sm-6 col-md-4 col-6 text-center">
                  <button type="button" class="btn btn-outline-dark" v-on:click="createExample">create</button>
                </div>
              </div>
            </div>
          </div>
          <!-- specific tab -->
          <div class="tab-pane" role="tabpanel" id="specific" aria-labelledby="specific_tab">
            <div class="form-group row"></div>
            <div class="form-group row">
              <div class="col-md-1"></div>
              <div class="col-md-8 container padding">
                <!--number of darts-->
                <div class="form-group row">
                  <label for="dartsNumber" class="col-sm-2 col-md-3 col-2 col-form-label">Darts/Half-edges No.</label>
                  <div class="col-sm-6 col-md-5 col-6">
                    <input type="number" v-model.number="dartsNumber" v-bind:class="{'is-invalid':inputDartsNumError}"
                      placeholder="The number of darts/half-edges" class="form-control" required>
                    <div class="invalid-feedback">{{dartsNUmErrMsg}}</div>
                  </div>
                  <div for="dartsNumber" class="help">
                    <a data-toggle="popover" data-placement="right" data-trigger="hover"
                      data-content="The number of darts/half-edges;The multiple of 2; Required"><span
                        class="oi oi-question-mark"></span></a>
                  </div>
                </div>
                <!--vertices-->
                <div class="form-group row">
                  <label for="inputVertices"
                    class="col-sm-2 col-md-3 col-2 col-form-label align-self-center">Vertices</label>
                  <div class="col-sm-6 col-md-5 col-6 align-self-center">
                    <input type="text" v-model="inputVertices"
                      v-bind:class="{'is-invalid':inputVerticesError,'is-valid':inputVerticesCorrect}"
                      placeholder="The cycles of vertices" class="form-control" required v-bind:disabled="isDisabled">
                    <div class="invalid-feedback">{{verticesErrMsg}}</div>
                  </div>
                  <div for="inputVertices" class="help align-self-center">
                    <a data-toggle="popover" data-placement="right" data-trigger="hover"
                      data-content="The cycles of vertices(example:{(0),(1,2,3)});The index of darts includes a series of natural numbers starting at 0; Required"><span
                        class="oi oi-question-mark"></span></a>
                  </div>
                </div>
                <!--edges-->
                <div class="form-group row">
                  <label for="inputEdges" class="col-sm-2 col-md-3 col-2 col-form-label">Edges</label>
                  <div class="col-sm-6 col-md-5 col-6">
                    <input type="text" v-model="inputEdges"
                      v-bind:class="{'is-invalid':inputEdgesError,'is-valid':inputEdgesCorrect}"
                      placeholder="The cycles of edges" class="form-control" v-bind:disabled="isDisabled" required>
                    <div class="invalid-feedback">{{edgesErrMsg}}}</div>
                  </div>
                  <div for="inputEdges" class="help">
                    <a data-toggle="popover" data-placement="right" data-trigger="hover"
                      data-content="The cycles of edges(example:{(0,1),(2,3)});The index of darts includes a series of natural numbers starting at 0; Required"><span
                        class="oi oi-question-mark"></span></a>
                  </div>
                </div>
                <!--button-->
                <div class="form-group row">
                  <div class="col-sm-2 col-md-3 col-2  "></div>
                  <div class="col-sm-6 col-md-5 col-6 text-center">
                    <button type="button" class="btn btn-outline-dark" v-on:click="create"
                      v-bind:disabled="isDisabled">create</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- random tab -->
          <div class="tab-pane" role="tabpanel" id="random" aria-labelledby="random_tab">
            <div class="form-group row"></div>
            <div class="form-group row">
              <div class="col-md-1"></div>
              <div class="col-md-8 container padding">
                <!--darts-->
                <div class="form-group row">
                  <label for="randomDartsNumber" class="col-sm-2 col-md-3 col-2 col-form-label">Darts/Half-edges
                    No.</label>
                  <div class="col-sm-6 col-md-4 col-6">
                    <input type="number" v-model.number="randomDartsNumber" placeholder="The number of darts/half-edges"
                      class="form-control" v-bind:class="{'is-invalid':randomDartsNumberError}" required>
                    <div class="invalid-feedback">{{randomDartsNumberErrMsg}}</div>
                  </div>
                  <div for="randomDartsNumber" class="help">
                    <a data-toggle="popover" data-placement="right" data-trigger="hover"
                      data-content="The number of darts/half-edges;The mutiple of 2; Required"><span
                        class="oi oi-question-mark"></span></a>
                  </div>
                </div>
                <!--vertices-->
                <div class="form-group row">
                  <label for="randomVerticesNumber" class="col-sm-2 col-md-3 col-2 col-form-label">Vertices No.</label>
                  <div class="col-sm-6 col-md-4 col-6">
                    <input type="number" v-model.number="randomVerticesNumber" placeholder="The number of vertices"
                      class="form-control" v-bind:disabled="isRandomDisabled"
                      v-bind:class="{'is-invalid':randomVerticesNumberError}">
                    <div class="invalid-feedback">{{randomVerticesNumberErrMsg}}</div>
                  </div>
                  <div for="randomVerticesNumber" class="help">
                    <a data-toggle="popover" data-placement="right" data-trigger="hover"
                      data-content="The number of vertices"><span class="oi oi-question-mark"></span></a>
                  </div>
                </div>
                <!--buttons-->
                <div class="form-group row">
                  <div class="col-sm-2 col-md-3 col-2  "></div>
                  <div class="col-sm-6 col-md-4 col-6 text-center">
                    <button type="button" class="btn btn-outline-dark" v-on:click="createRandom"
                      v-bind:disabled="isRandomDisabled">create</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--output-->
      <div id="outputArea" class="container" style="margin-top: 40px;">
        <hr class="output" />
        <div class="text-center text-truncate text-wrap" v-bind:style="{'color':output.warningVerticesColor}"
          id="vrticesWarning" style="font-size: 1.5em;font-weight: bolder;padding-top: 15px;">
          {{output.warningVerticesString}}
        </div>
        <!--Vertices-->
        <div class="form-group row" v-bind:class="[this.output.isVerticesShow?'visible':'invisible']">
          <hr class="component" component="Vertices" style="color: #21618C;border-top-color: #21618C" />
          <!-- <label for="outputVertices"
          class="col-sm-2 col-md-1 col-2 col-form-label align-self-center"><b>Vertices:</b></label> -->
          <div id="outputVertices">
            <div>
              <div class="form-group row">
                <label for="verticesCycles" class="col-md-2 col-sm-4 col-4 col-form-label align-self-center"
                  style="color:  #21618C"><b>Cycle notation:</b></label>
                <div class="col-md-10 col-8 align-self-center">
                  <div class="text-truncate text-wrap" id="verticesCycles">
                    <b style="color: #21618C;font-size: 0.9em">{{output.verticesCyclesString}}</b>
                    <a for="verticesCycleGraph" role="button" class="btn" id="zoomOutVC" style="border: none"><span
                        class="oi oi-zoom-out"></span></a>
                  </div>
                </div>
                <div style="height: 5px;"></div>
                <div>
                  <div id='verticesCycleGraph'></div>
                </div>
              </div>
              <div class="form-group row">
                <label for="verticesPermutations" class="col-md-2 col-sm-4 col-4 col-form-label align-self-center"
                  style="color: #21618C"><b>One-line notation:</b></label>
                <div class="col-md-10 col-8 align-self-center">
                  <div class="text-truncate  text-wrap " id="verticesPermutations">
                    <b style="color: #21618C;font-size: 0.9em">{{output.verticesPermutationsString}}</b>
                    <a role="button" for="verticesPermutationsGraph" class="btn" id="zoomOutVP"
                      style="border: none"><span class="oi oi-zoom-out"></span></a>
                  </div>
                </div>
              </div>
              <div style="height: 5px;"></div>
              <div>
                <div id='verticesPermutationsGraph'></div>
              </div>
            </div>
          </div>
        </div>
        <div class=" text-center text-truncate text-wrap" v-bind:style="{'color':output.warningEdgesColor}"
          v-bind:class="[this.output.isVerticesShow?'visible':'invisible']" id="EdgesWarning"
          style="font-size: 1.5em;font-weight: bolder;padding-top: 15px;">
          {{output.warningEdgesString}}
        </div>
        <!--Edges-->
        <div class="form-group row" v-bind:class="[this.output.isEdgesShow?'visible':'invisible']">
          <hr class="component" component="Edges" style="color: #145A32;border-top-color: #145A32" />
          <!-- <label for="outputEdges" class="col-sm-2 col-md-1 col-2 col-form-label align-self-center"><b>Edges:</b></label> -->
          <div id="outputEdges">
            <div class="form-group row">
              <label for="edgesCycles" class="col-md-2 col-sm-4 col-4 col-form-label align-self-center"
                style="color:#145A32"><b>Cycle notation:</b></label>
              <div class="col-md-10 col-8 align-self-center">
                <div class="text-truncate text-wrap" id="edgesCycles">
                  <b style="color:#145A32;font-size: 0.9em">{{output.edgesCyclesString}}</b>
                  <a role="button" for='edgesCycleGraph' class="btn" id="zoomOutEC" style="border: none"><span
                      class="oi oi-zoom-out"></span></a>
                </div>
              </div>
              <div style="height: 5px;"></div>
              <div>
                <div id='edgesCycleGraph'></div>
              </div>
            </div>
            <div class="form-group row">
              <label for="edgesPermutations" class="col-md-2 col-sm-4 col-4 col-form-label align-self-center"
                style="color:#145A32"><b>One-line notation:</b></label>
              <div class="col-md-10 col-8 align-self-center">
                <div class="text-truncate text-wrap " v-bind:style="{'color':output.warningEdgesPermutations}"
                  id="edgesPermutations">
                  <b style="color:#145A32;font-size: 0.9em">{{output.edgesPermutationsString}}</b>
                  <a role="button" for="edgesPermutationsGraph" class="btn" id="zoomOutEP" style="border: none"><span
                      class="oi oi-zoom-out"></span></a>
                </div>
              </div>
            </div>
            <div style="height: 5px;"></div>
            <div>
              <div id='edgesPermutationsGraph'></div>
            </div>
          </div>
        </div>
        <div class=" text-center text-truncate text-wrap" v-bind:style="{'color':output.warningFacesColor}"
          v-bind:class="[this.output.isEdgesShow?'visible':'invisible']" id="FacesWarning"
          style="font-size: 1.5em;font-weight: bolder;padding-top: 15px;">
          {{output.warningFacesString}}
        </div>
        <!--faces-->
        <div class="form-group row" v-bind:class="[this.output.isFacesShow?'visible':'invisible']">
          <hr class="component" component="Faces" style="color: #A04000;border-top-color: #BA4A00" />
          <!-- <label for="outputFaces" class="col-sm-2 col-md-1 col-2 col-form-label align-self-center"><b>Faces:</b></label> -->
          <div id="outputEdges">
            <div class="form-group row">
              <label for="facesCycles" class="col-md-2 col-sm-4 col-4 col-form-label align-self-center"
                style="color:#BA4A00"><b>Cycle notation:</b></label>
              <div class="col-md-10 col-8 align-self-center">
                <div class="text-truncate text-wrap" id="facesCycles">
                  <b style="color:#BA4A00;font-size: 0.9em">{{output.facesCyclesString}}</b>
                  <a role="button" for="facesCycleGraph" class="btn" id="zoomOutFC" style="border: none"><span
                      class="oi oi-zoom-out"></span></a>
                </div>
              </div>
            </div>
            <div style="height: 5px;"></div>
            <div>
              <div id='facesCycleGraph'></div>
            </div>
            <div class="form-group row">
              <label for="facesPermutations" class="col-md-2 col-sm-4 col-4 col-form-label align-self-center"
                style="color:#BA4A00"><b>One-line notation:</b></label>
              <div class="col-md-10 col-8 align-self-center">
                <div class="text-truncate text-wrap" id="facesPermutations">
                  <b style="color:#BA4A00;font-size: 0.9em">{{output.facesPermutationsString}}</b>
                  <a role="button" for='facesPermutationsGraph' class="btn" id="zoomOutFP" style="border: none"><span
                      class="oi oi-zoom-out"></span></a>
                </div>
              </div>
            </div>
            <div style="height: 5px;"></div>
            <div>
              <div id='facesPermutationsGraph'></div>
            </div>
          </div>
        </div>
      </div>
      <div style="height: 20px;"></div>
      <!--other characters-->
      <div v-bind:class="[this.output.isFacesShow?'visible':'invisible']">
        <hr class="component" component="Other characters" />
        <!-- <div class="col-sm-2 col-md-2 col-2 ">
          <label for="otherCharacters" class="col-form-label align-self-center"><b>Other characters:</b></label>
        </div> -->
        <div class="form-group row">
          <div class="form-group row col-md-3">
            <label for="facesnumber" class="col-sm-4 col-md-8 col-4 col-form-label align-self-center"><b>Faces
                Number:</b></label>
            <div class="col-sm-2 col-md-4 col-2 text-truncate align-self-center" id="facesnumber">
              {{output.faceNumber}}
            </div>
          </div>
          <div class="form-group row col-md-3">
            <label for="verticesnumber" class="col-sm-4 col-md-8 col-4 col-form-label align-self-center"><b>Vertices
                Number:</b></label>
            <div class="col-sm-2 col-md-4 col-2 text-truncate align-self-center" id="verticesnumber">
              {{output.verticesNumber}}
            </div>
          </div>
          <div class="form-group row col-md-3">
            <label for="dartsnumber" class="col-sm-4 col-md-8 col-4 col-form-label align-self-center"><b>Darts
                Number:</b></label>
            <div class="col-sm-2 col-md-4 col-2 text-truncate align-self-center" id="dartsnumber">
              {{output.dartsNumber}}
            </div>
          </div>
          <div class="form-group row col-md-3">
            <label for="genusnumber" class="col-sm-4 col-md-6 col-4 col-form-label align-self-center"><b>Genus
                Number:</b></label>
            <div class="col-sm-2 col-md-4 col-2 text-truncate align-self-center" id="genusnumber">
              {{output.genusNumber}}
            </div>
          </div>
        </div>
      </div>
      <!--display the methods-->
      <div v-bind:class="[this.output.isFacesShow?'visible':'invisible']">
        <div class="container">
          <div class="form-group row">
            <div class="col-sm-6 col-md-4 col-12">
              <div class="hovereffect">
                <div class="img-responsive"><canvas id="treeBasedimage"></canvas></div>
                <div class="overlay">
                  <h2>Tree Based Method 1</h2>
                  <p>This method mainly based on the <b style="color:#CD5C5C">spanning tree</b> of the combinatorial
                    maps.
                    This is a subgraph wich including all vertices of the maps. The <b>DFS algorithm</b> is used to
                    search
                    this structure of the maps. It is also used to validate the connection of the graph. The <em>dark
                      circle</em> is the vertices, the <em style="color:#CD5C5C">red path</em> is the spanning tree of
                    the
                    maps and the <em>dark lines</em> are the rest edges. The tree drawing algorithm is from
                    <cite>'Improve
                      walker’s algorithm to run in linear time.'</cite></p>
                  <a class="info" data-toggle="modal" data-target="#treeBasedMethod1">more details>></a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-12">
              <div class="hovereffect">
                <div class="img-responsive"><canvas id="treeBasedimage2"></canvas></div>
                <div class="overlay">
                  <h2>Tree Based Method 2 </h2>
                  <p style="margin-top: 25px">This method mainly based on the <b style="color:#CD5C5C">spanning tree</b>
                    of the combinatorial maps. The most different with the first method is the darts are included into
                    the
                    tree structure, so that the visual nodes are added to indicate the darts. The <em>dark circle</em>
                    is
                    the vertices, the <em style="color:#CD5C5C">red path</em> is the spanning tree of the maps and the
                    <em>dark lines</em> are the rest edges.</p>
                  <a class="info" data-toggle="modal" data-target="#treeBasedMethod2">more details>></a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-12">
              <div class="hovereffect">
                <div class="img-responsive"><canvas id="faceBasedimage"></canvas></div>
                <div class="overlay">
                  <h2>Faces Based Method</h2>
                  <p style="margin-top: 25px">The <b style="color:#CD5C5C">dual</b> of combinatorial maps support the
                    idea
                    of the approach. The maps have the faces component, the vertices of dual are the center of each
                    faces,
                    and relevant darts of the vertices( in dual) is the darts of the corresponding faces in maps (the
                    <em style="color: #B3B6B7">grey parts</em> in image are the vertices and darts of the dual).</p>
                  <a class="info" data-toggle="modal" data-target="#faceBasedMethod">more details>></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- treeBasedMethod1Modal -->
      <div class="modal fade" id="treeBasedMethod1">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h6 class="modal-title">Tree Based Method1</h6>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              <div class="form-group row">
                <div class="col-md-6">
                  <div id="treeBase" class="svg-area">
                    <a role="button" class="btn" id="resetSVG1" style="border: none"><span
                        class="oi oi-loop-circular"></span></a>
                  </div>
                </div>
                <div class="col-md-6 align-self-center">
                  <div class="form-group row">
                    <div class="col-md-2"></div>
                    <label for="spanning" class=" col-md-8 col-form-label text-left align-self-center"><b
                        style="width: 180px!important">Spanning Tree(darts):</b></label>
                    <div class="col-md-3"></div>
                    <div class="col-md-8 text-truncate text-wrap text-left intext" id="spanning">
                      {{output.spanningTreePath}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- treeBasedMethod2Modal -->
      <div class="modal fade" id="treeBasedMethod2">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h6 class="modal-title">Tree Based Method2</h6>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              <div class="form-group row">
                <div class="col-md-6">
                  <div id="wholetreeBase" class="svg-area">
                    <a role="button" class="btn" id="resetSVG2" style="border: none"><span
                        class="oi oi-loop-circular"></span></a>
                  </div>
                </div>
                <div class="col-md-6 align-self-center">
                  <div class="form-group row">
                    <div class="col-md-2"></div>
                    <label for="spanning2" class=" col-md-8 col-form-label text-left align-self-cente"><b
                        style="width: 180px!important">Spanning Tree(darts):</b></label>
                    <div class="col-md-3"></div>
                    <div class="col-md-8 text-truncate text-wrap text-left intext" id="spanning2">
                      {{output.spanningTreePath}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>

      <!-- faceBasedMethodModal -->
      <div class="modal fade" id="faceBasedMethod">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h6 class="modal-title">Face Based Method</h6>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              <div class="form-group row">
                <div class="col-md-6">
                  <div class="svg-area" id="faceBase">
                    <a role="button" class="btn" id="resetSVG3" style="border: none"><span
                        class="oi oi-loop-circular"></span></a>
                  </div>
                </div>
                <div class="col-md-6 align-self-center">
                  <div class="form-group row">
                    <div class="col-md-2"></div>
                    <label for="facetype" class=" col-md-8 col-form-label text-left align-self-center"><b
                        style="width: 180px!important">Edges cycles(darts):</b></label>
                    <div class="col-md-3"></div>
                    <div class="col-md-8 text-truncate text-wrap text-left intext" id="facetype">
                      {{output.edgesCyclesString}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
  <script src="https://d3js.org/d3-color.v1.min.js"></script>
  <script src="https://d3js.org/d3-dispatch.v1.min.js"></script>
  <script src="https://d3js.org/d3-ease.v1.min.js"></script>
  <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
  <script src="https://d3js.org/d3-selection.v1.min.js"></script>
  <script src="https://d3js.org/d3-timer.v1.min.js"></script>
  <script src="https://d3js.org/d3-transition.v1.min.js"></script>
  <script src="https://d3js.org/d3-drag.v1.min.js"></script>
  <script src="https://d3js.org/d3-zoom.v1.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script> -->
  <!-- <script type="application/json" src="../javascript/data.json"></script> -->
  <script type="text/javascript" src="../javascript/index.js"></script>
  <script type="text/javascript" src="../javascript/type1.js"></script>
  <script type="text/javascript" src="../javascript/Drawing.js"></script>

</body>

</html>